*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #c4cfd7;
    font-family: sans-serif;
    outline: none;
}
.everything{
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 250px;
}
.calculator{
    background-color: #b39594;
    padding: 15px;
    border-radius: 15px;
    box-shadow: inset 5px 5px 12px #b05050,
                      5px 5px 12px rgba(68, 41, 41, 0.16);
    display: grid;    
    grid-template-columns: repeat(4,65px);
    border: #110b0b;
}
input{
    grid-column: span 4;
    height: 100px;
    width: 260px;
    background-color: #92bcdb;
    box-shadow: inset -5px -5px 12px #665050,
                      5px 5px 12px rgba(157, 139, 139, 0.16);
    border: none;
    border-radius: 25px;
    color: rgb(23, 69, 19);
    font-size: 30px;
    text-align: end;    
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px; 
    padding: 10px;
}
button{
    height: 50px;
    width: 50px;
    background-color: #92bcdb;
    box-shadow: -5px -5px 12px #573737,
                5px 5px 12px rgba(111, 93, 93, 0.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 20px;
    cursor: pointer;
}
.equal{
    width: 115px;
    border-radius: 40px;
    background-color: #a786e9;
    box-shadow: -5px -5px 12px #573737,
                5px 5px 12px rgba(111, 93, 93, 0.16);
    cursor: pointer;            
}